.clients__list {
  @media screen and (min-width:$mobile) {
    display: flex;
    justify-content:center;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: calc(100%/2);
  }
  @media screen and (min-width:$tablet) and (max-width:1199px) {
    flex-basis: calc(100%/3)
  }
}
  
  .clients__link {
    display: flex;
    justify-content:center;
    align-items:center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition: fill var(--trinsit-time) var(--timing-functoin),
    border var(--trinsit-time) var(--timing-functoin);

    &:hover ,
    &:focus {
      fill: var(--accent-color);
      border: 1px solid var(--accent-color);
    }  
  }
  