footer {
    background-color: var(--secondary-beckground-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer {
    @media screen and (max-width:1199px) {
          display: block;
            text-align: center;
            
    }
    @media screen and (min-width:$desktop) {
          display: flex;
            align-items: baseline;
    }
  }
  
  .logo-link-footer {
    @media screen and (max-width:1199px) {
      margin-bottom: 28px;
    }
    color: var(--primary-whit-color);
    font-family: Raleway, cursive;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: block;
  }

  .adress-footer {
    @media screen and (max-width:767px) {
      margin-bottom: 60px;
    }
    @media screen and (min-width:$desktop) {
    margin-right: 70px;
    }
  }
  
  .address-footer-list .link {
    color: var(--primary-whit-color) 60%;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .address-footer-list .second-link {
    color: var(--primary-whit-color);
  }
  
  .address-footer-list {
    font-style: normal;
  }
  
.address-footer-list .item {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  .address-footer-list .item:not(:last-child) {
    margin-bottom: 12px;
    @media screen and (min-width:$desktop) {
      margin-bottom: 9px;
    }
  }
  
  .social-footer-list {
    display:flex;
    gap: 10px;
    justify-content: center;
  }
  
  .social-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--primary-whit-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--trinsit-time) var(--timing-functoin);
  
   &:hover,
   &:focus {
      background-color: var(--accent-color);
    }
}
  
  .social-footer p {
    margin-bottom: 20px;
  }

  .social-footer .text {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    
  }

    .adress-social-flex {
      margin-bottom: 60px;
      @media screen and (min-width:$tablet) {
        display: flex;
      }
      @media screen  and (min-width:$tablet) and (max-width:1199px) {
        justify-content:space-around;
      }
                                                        @media screen and (min-width:$desktop) {
                                                          margin-right: 70px;
                                                          align-items: baseline;
                                                        }
    }