.form-group {
    display: block;
  }

  
  .form-textarea {
    width: 370px;
    height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  padding: 16px 12px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  resize: none;
  transition: border-color var(--trinsit-time) var(--timing-functoin) ,visibility var(--trinsit-time) var(--timing-functoin);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }


  @media screen and (min-width:$desktop) {
      width: 448px;
  }
}
  
  .form-field {
    display:  flex;
    flex-direction:column;;
    position: relative;
    margin-bottom: 10px;
   
  }
  
  .form-checkbox {
    display: flex;
    text-align: center;
    align-items: center;
    appearance: none;
    gap:8px;
    margin-bottom: 30px;
  }
  
  .form-label {
  display: flex;
  margin-bottom: 4px;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  
  }
  
  .form-input {
    position: relative;
    display: block;
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--primary-text-color);
    padding:12px 42px;
    transition: border-color var(--trinsit-time) var(--timing-functoin) ,visibility var(--trinsit-time) var(--timing-functoin);
  
    &:hover,
    &:focus  {
      border-color: var(--accent-color);
    }

    @media screen and (min-width:$desktop) {
        width: 448px;
    }
}
  
  input:focus-visible,
  textarea:focus-visible {
    outline: none;
  }
  
  .form-icon {
    position: absolute;
    top: 29px;
    left: 12px;
    display: inline-block;
    transition: fill var(--trinsit-time) var(--timing-functoin) ,visibility var(--trinsit-time) var(--timing-functoin);
 
    .form-input:hover + & {
        fill: var(--accent-color);
        }

        .form-field:focus-within > & {
            fill: var(--accent-color);
          }
}
    .form-comment {
      display:  flex;
      flex-direction:column;;
      margin-bottom: 20px;
    }
  
    .checkbox-titel {
      display: block;
font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  @media screen and (min-width:$desktop) {
            font-size: 14px;
              line-height: 24px;
  }

  }
  
  .checkbox-titel .link {
    color: var(--accent-color);
  }
  
  
  .checkbox-icon {
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
    margin-left: 13px;

    .checkbox:checked + & {
        background-image: url(../images/icon\ check\ \(1\).svg);
        background-size: contain;
        background-origin: border-box;
        border-color: var(--accent-color);
        background-color: var(--accent-color);
      }
  }
  
  .checkbox {
    appearance: none;
    position: absolute;
  
    transition: background-image var(--trinsit-time) var(--timing-functoin);
  }


  /* FOOTER FORM */

    
  .footer-form {
    display: block;
    @media screen and (min-width:$desktop){
    display: flex;
    }
  }
  
  .footer-label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-whit-color);
    margin-bottom: 20px;
  }
  
  .footer-input {
    width: 450px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    margin-right: 12px;

                @media screen and (max-width:1199px) {
                  margin-bottom: 20px;
                }
                @media screen and (min-width:$desktop) {
                width: 358px;
                }
  }