.logo-link {
    color: var(--accent-color);
  }
  .logo-link-header {
    font-family: Raleway, cursive;
    color: var(--primary-black-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }