.team {
    background-color: var(--team-background-color);
  }
  
  .team-social__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    @media screen and (min-width: $mobile) {
      margin-bottom: 24px;
    }
    @media screen and (min-width:$desktop) {
      margin-bottom: 30px;
    }
  }
  
  .team-social__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: background-color var(--trinsit-time) var(--timing-functoin),
    fill var(--trinsit-time) var(--timing-functoin);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      fill: var(--primary-whit-color);
    }
  }

  .team__list {
    @media screen and (min-width:$mobile) and (max-width:767px) {
          &:not(:last-child) {
              margin-bottom: 30px;
            }
    }

    @media screen and (min-width:$tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    }
    @media screen and (min-width:$tablet) and (max-width:1199px) {
      flex-basis: calc(100%/2);
    }
  }
  
  .team__name {
    color: var(--titel-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  
  .team__img {
    margin-bottom: 30px;
    @media screen and (min-width:$mobile) {
      width: 450px;
    }
    @media screen and (min-width:$tablet) {
      width:354px;
    }
    @media screen and (min-width:$desktop){
      width:270px;
    }
  }
  
  .team__position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  
  .team__item {
    background-color: var(--primary-whit-color);
      @media screen and (max-width:767px) {
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      // &:not(:last-child) {
      //   margin-right: 30px;
      // }
  }