:root {
    --accent-color: #2196f3;
    --primary-whit-color: #ffffff;
    --titel-text-color: #212121;
    --primary-text-color: #757575;
    --primary-black-color: #000000;
    --secondary-beckground-color: #2f303a;
    --team-background-color: #f5f4fa;
    --button-background-color: #188ce8;
  
    --timing-functoin: cubic-bezier(0.4, 0, 0.2, 1);
    --trinsit-time: 250ms;
  }

         $mobile: 480px;
         $tablet: 768px;
         $desktop: 1200px;